.button {
  border: 2px solid teal;
  background-color: teal;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  transition: all ease-in 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: teal;
  transform: scale(1.1);
}